@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
  color: #1e1e1e;
}

main,
body {
  background-color: #fff;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.title {
  @apply font-bold text-sm lg:text-lg capitalize;
}

.bold-title {
  @apply font-bold text-lg lg:text-[32px] text-neutral-black capitalize;
}

.active-nav {
  @apply text-primary bg-primary-soft rounded-[8px];
}

.paragraph {
  @apply text-neutral-black text-base;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

input,
select,
textarea {
  outline: none;
}

input[type="number"] {
  text-indent: 1rem;
}

input:disabled {
  background-color: #f3f3f3;
}

.spin-button-none::-webkit-inner-spin-button,
.spin-button-none::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
